- data.blog.blog_postings.each do |url, blog_posting|
  %h1=link_to blog_posting.name, blog_posting.url
  %h3
    %span.author= blog_posting.author
    %time= blog_posting.date_created
  %div= blog_posting.description
  %div=link_to 'READ MORE', blog_posting.url
